@import './github-markdown.scss';

h2 {
  padding-bottom: 12px;
}

.root {
  background-color: #f7f7f8;
  padding: 24px;
  height: 100%;
  border-top: 1px solid #edeeee;
}

.header {
  text-align: center;
  padding: 16px 24px;
  img {
    position: relative;
    top: 1px;
    width: 114px;
    height: 31px;
  }
}

[class*=wnd-Stack--horizontalLeft].header-stack {
  justify-content: space-between;
}

.repo-link {
  background-color: rgba(30,50,55, .04);
  padding: 8px 16px;
  border-radius: 3px;
}

.tabs {
  font-size: 16px
}

p {
  padding-bottom: 12px;
}

table {
  width: 100%;
}

tr.repo {
  td {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

tr.active  {
  border: 1px solid #b3e2ff;
  padding: -1px;

  td {
    background-color: #e9f4fb;
  }
}


.pr {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin-right: 12px;
  margin-top: 1px;
  border: 3px solid;
}

.pr-red {
  background-color: #f3d3d7;
  border: 3px solid red;
}
.pr-yellow {
  background-color: rgb(253, 222, 163);
  border-color: orange;
}
.pr-green {
  background-color: rgb(168, 243, 168);
  border-color: green;
}


.container {
  width: 100%;
  min-height: 100%;
  // max-width: 1000px;
  background-color: #fff;
  /* padding: 0 32px 32px; */
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 100, 101, 0.1);
}

[class*=Tabs-pane] {
  padding: 20px 32px 32px;
}

span[class*=Tab-label] {
  font-family: 'open sans', sans-serif;
  font-size: 14px;
  position: relative;
  top: 1px;
  padding-bottom:12px;
  z-index:10000;
}

ul[class*=Tabs-navigation] {
  overflow-x: visible;
  padding: 6px 0 0;
  justify-content: left;
  border-top: 1px solid grey;
  border-color: #edeeee;
}

// .nr1-98afb157-2688-4c1e-85e6-cf25b0f741ee .markdown-body {font-family: 'open sans';}

// .nr1-98afb157-2688-4c1e-85e6-cf25b0f741ee .markdown-body p {
//   line-height: 21px;
// }

// .nr1-98afb157-2688-4c1e-85e6-cf25b0f741ee .markdown-body li {
//   font-size: 14px;
// }

// .nr1-98afb157-2688-4c1e-85e6-cf25b0f741ee .markdown-body a {
//   color: #0079bf;
// }

// .nr1-98afb157-2688-4c1e-85e6-cf25b0f741ee .markdown-body pre code {
//   font-family: monaco, monospace;
//   line-height: 20px;
//   font-size: 13px;
// }

.getting-started-content {
  padding: 16px 24px;
}

[class*=wnd-Grid].integration-container {
  padding: 24px;
  margin: 0;
}

.container .integration-container {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}

.integration-container {
  h1, h2, h3, h4, h5 {
    padding: 4px 0;
    font-weight: 600;
    color: #000d0d;
  }

  h2 {
    font-size: 18px;
    padding-bottom: 2px;
  }

  p {
    font-size: 14px;
    line-height: 22px;
    color: #464e4e;
    padding-bottom: 8px;
  }

  small {
    display: block;
    padding-top:8px;
    font-size: 12px;
    opacity: .5;
    font-style: italic;
  }
}

.integration-step-container {
  margin-bottom: 2px;
}

.integration-input-container {
  background-color:#f4f5f5;
  padding: 8px 16px 16px;
  box-sizing: border-box;
  border-radius: 4px;
}

.integration-github-type-selection {
  margin-bottom: 10px;
}

.error-alert.alert {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  border: 1px solid #f3d3d7;
  background-color: #f9ebed;
  text-align: center;
  border-radius: 3px;
  color: #c10c20;

  .alert-content {
    margin-left: 4px;
    font-size: 14px;
  }
}

.gh-access-error-container {
  padding: 20px 32px 32px;
}

.right {
  text-align: right;
}

.mt-10 {
  margin-top: 10px;
}

.heading {
  margin-bottom: 16px;
  font-weight: 700;
}

// Modal
.deploy-modal [class*='InnerModal'] {
  background-color: #fff;
}


[class*='InnerModal-content'] {
  [class*='Text--type-heading'] {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000d0d;
  }

  p {
    margin-bottom: 16px;
  }

  button {
    margin-right: 8px;
  }
}


// ==============================================================
// NRDS text field and dropdown overrides
// ==============================================================

// [class*='Select-label'],
#root [class*='TextField-label'] {
  padding-bottom: 4px;
  padding-top: 0;
  font-size: 14px;
  color: #000e0e;
  text-align: left;
  line-height: 19px;
  text-transform: none;
  font-weight: 600;
  letter-spacing: 0px;
}

// button[class*='DropdownTrigger'],
.deploy-modal [class*='TextField-input'] {
  min-width: 100px;
  min-height: 32px;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 6.5px 8px 6.5px 8px; // visual centering, rather than being mathematically accurate
  font-size: 14px;
  position: relative;
  line-height: 19px;
  border: none;
  box-shadow: inset 0 0 0 1px #d5d7d7;
  background-position: right 8px top 56%;
  border-radius: 2px;
  background-color: #ffffff;
  transition: 0.075s all ease-in-out;

  &:hover {
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #8e9494, 0 1px 0 0 #edeeee;
    border: none;
  }

  &:active {
    background-color: #fff;
    border: none;
    box-shadow: inset 0 0 0 1px #8e9494, 0 1px 0 0 #f4f5f5;
  }

  &:focus {
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #d5d7d7, 0 1px 0 0 #f4f5f5;
    border-radius: 2px 2px 0 0;
    border: none;

    &:after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      z-index: 100000;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #70ccd3;
    }
  }

  &:disabled {
    border: 1px solid #d5d7d7;
    background-color: #f4f5f5;

    [class*='Dropdown-label'],
    [class*='TextField-label'] {
      color: #8e9494;
    }

    &:hover {
      border: 1px solid #d5d7d7;
      background-color: #f4f5f5;
    }
  }
}

// [class*='DropdownTrigger-chevron'] {
//   margin-left: 8px;
//   margin-right: 2px;
// }

.deploy-modal [class*='TextField-input'] {
  &:disabled {
    border: none;
    box-shadow: 0 0 0 1px #d5d7d7;

    &:hover {
      border: none;
      box-shadow: 0 0 0 1px #d5d7d7;
    }
  }
}

// [class*='Dropdown-popover'] {
//   max-height: 256px;
//   margin-top: -1px;
//   border-color: #d5d7d7;
//   border-radius: 0 2px 2px 2px;
//   box-shadow: 0 1px 0 #f4f5f5;
// }

// [class*='DropdownTrigger-content'] {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// [class*='DropdownItem']:not([class*='DropdownItem-search']):hover {
//   background-color: #c9f3f5;
//   box-shadow: none;
// }

.deploy-modal [class*='TextField-input']:focus {
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 #70ccd3, inset 0 0 0 1px #8e9494, 0 1px 0 0 #edeeee;
}

// #root [class*='DropdownItem-search'] {
//   [class*='TextField--icon'] {
//     padding-left: 20px;
//   }

//   [class*='TextField-input'] {
//     box-shadow: none;
//     padding: 3px;
//     min-height: auto;
//   }
// }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8e9494;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #8e9494;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #8e9494;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #8e9494;
}


.select-container {
  margin-bottom: 16px;

  label {
    display: block;
    padding-bottom: 4px;
    padding-top: 0;
    font-size: 14px;
    color: #000e0e;
    text-align: left;
    line-height: 19px;
    text-transform: none;
    font-weight: 600;
    letter-spacing: 0px;
  }

  select {
    position: relative;
    left: 0;
  }
}

.text-field {
  width: 100%;
  margin-bottom: 16px;
}

// #root [class*='TextField-input'] {
//   min-width: 100px;
//   min-height: 32px;
//   justify-content: space-between;
//   box-sizing: border-box;
//   padding: 6.5px 8px 6.5px 8px; // visual centering, rather than being mathematically accurate
//   font-size: 14px;
//   position: relative;
//   line-height: 19px;
//   border: none;
//   box-shadow: inset 0 0 0 1px #d5d7d7;
//   background-position: right 8px top 56%;
//   border-radius: 2px;
//   background-color: #ffffff;
//   transition: 0.075s all ease-in-out;

//   &:hover {
//     background-color: #fff;
//     box-shadow: inset 0 0 0 1px #8e9494, 0 1px 0 0 #edeeee;
//     border: none;
//   }

//   &:active {
//     background-color: #fff;
//     border: none;
//     box-shadow: inset 0 0 0 1px #8e9494, 0 1px 0 0 #f4f5f5;
//   }

//   &:focus {
//     background-color: #fff;
//     box-shadow: inset 0 0 0 1px #d5d7d7, 0 1px 0 0 #f4f5f5;
//     border-radius: 2px 2px 0 0;
//     border: none;

//     &:after {
//       content: '';
//       width: 100%;
//       height: 2px;
//       position: absolute;
//       z-index: 100000;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       background-color: #70ccd3;
//     }
//   }

//   &:disabled {
//     border: 1px solid #d5d7d7;
//     background-color: #f4f5f5;

//     [class*='Dropdown-label'],
//     [class*='TextField-label'] {
//       color: #8e9494;
//     }

//     &:hover {
//       border: 1px solid #d5d7d7;
//       background-color: #f4f5f5;
//     }
//   }
// }

// #root [class*='TextField-input'] {
//   &:readonly {
//     border: none;
//     box-shadow: 0 0 0 1px #d5d7d7;

//     &:hover {
//       border: none;
//       box-shadow: 0 0 0 1px #d5d7d7;
//     }
//   }
// }

